$th-orange: #ea5a00;
$th-red: #c81e0f;
$th-magenta: #b43092;
$ivory: #f8f8f8;
$ivory-border: #e7e7e7;
$hover-color: #f5f5f5;

$sidebarColor: #262429;
$passed: #a3e635;
$neutral: #facc15;
$failed: #ef4444;

$spacing: (
  small: 5px,
  low: 10px,
  med: 25px,
  high: 40px,
  v: 16px,
  h: 10px,
);

$colors: (
  header-font: #ababab,
  light-border: #e0e0e0,
  medium-border: #999,
  dark-border: #222,
  light-secondary-text: #5e5e5e,
);

$border-radius: 5px;
