@use "sass:map";
@use "@angular/material" as mat;
@use "theme";
@use "sass:color";
@use "variables" as vars;

// Import your existing assets
@use "../../assets/font/font.css";
@use "../../assets/icons/icons.css";

// Apply the theme
@include mat.all-component-themes(theme.$lwm-light-theme);

html,
body {
  height: 100%;

  a {
    text-decoration: none;
    color: #5e5e5e;
  }
}

body {
  margin: 0;
}


// Dialog styles update
.lwmUserAuthorityUpdateDialog,
.lwmCreateUpdateDialog,
.lwmDeleteDialog,
.lwmGroupEditDialog,
.lwmCourseAuthorityUpdateDialog,
.lwmTimetableEntryDialog,
.lwmGroupPreviewDialog,
.lwmConfirmationDialog,
.lwmDecisionDialog,
.lwmRescheduleDialog,
.lwmAnnotationDialog,
.studentApplicationDialog,
.lwmAssignmentEntryTakeoverDialog {
  .mat-mdc-dialog-container {
    overflow: hidden;
  }
}

// Calendar styles update
full-calendar {

  .fc-col-header-cell {
    padding: 16px;
  }

  .fc-toolbar {
    button.fc-button-primary,
    button.fc-state-default {
      background-color: vars.$th-magenta;
      border-color: vars.$th-magenta;

      &:hover,
      &:active,
      &:focus {
        background-color: color.adjust(vars.$th-magenta, $lightness: -5%);
        border-color: color.adjust(vars.$th-magenta, $lightness: -5%);
      }
    }
  }
}

.material-icons {
  line-height: 0.8em;
}

.strikethroughText {
  color: vars.$th-red;
}

// Component styles
.mat-mdc-card {
  margin: map.get(vars.$spacing, "low") 0 map.get(vars.$spacing, "med") 0;
  padding: 0 !important;
  box-shadow: none !important;

  .mat-mdc-card-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
    padding: 0;

  }
}

// Button styles
.mat-mdc-stroked-button {
  &.mat-primary {
    border: 2px color.adjust(vars.$th-magenta, $lightness: 40%) solid;
    margin-right: map.get(vars.$spacing, "small");
  }

  &.mat-accent {
    border: 2px color.adjust(vars.$th-orange, $lightness: 40%) solid;
    margin-right: map.get(vars.$spacing, "small");
  }

  &.mat-warn {
    border: 2px color.adjust(vars.$th-red, $lightness: 40%) solid;
    margin-right: map.get(vars.$spacing, "small");
  }
}
